td {
    height: 50px;
    width: 50px;
    align-items: center;
    border-radius: 20px;
    margin: 70px;

}

.titbar {
    background-color: coral;
    text-decoration: none;
    color: white;
    padding: 10px;
}