td {
    height: 50px;
    width: 50px;
    align-items: center;
    border-radius: 20px;
}

.titbar:link, .titbar:visited {
    background-color: coral;
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
}

.titbar:hover, .titbar:active {
    background-color: crimson;
}